body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration:solid;
    margin-left: 15px;

}
nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 15px;

}

nav a:hover{
    text-decoration: rgb(247, 242, 242);
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #130e20, #167);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    width: 320px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10pxx 30px rgba(0, 0, 0, 0, 4);
    text-align: center;
    color: white;

}

.container h2 {
    margin-bottom: 25px;
    font-weight: 600;

}

form input {

    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;

}

button:hover {
transform: scale(1.05);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 3);
}

form input::placeholder {
    color: #ddd;

}

form input:focus {
background: rgba(255, 255, 255, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;

}

.link a:hover{
    text-decoration: underline;
}
